
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Hello from Web Server MVC VIEW</h2>
        <p>Hej igen</p>
        hello hello
        <br/>
        howdy
        <hr />
        <p>hej hej</p>
    </div>
</body>
</html>
